# [Aduanas]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [Aduanas]    Script Date: 17/11/2022 12:55:50 ******/
CREATE DATABASE [Aduanas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aduanas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Aduanas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Aduanas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Aduanas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [Aduanas] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aduanas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [Aduanas] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [Aduanas] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [Aduanas] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [Aduanas] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [Aduanas] SET ARITHABORT OFF 
GO
ALTER DATABASE [Aduanas] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [Aduanas] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [Aduanas] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [Aduanas] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [Aduanas] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [Aduanas] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [Aduanas] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [Aduanas] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [Aduanas] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [Aduanas] SET  ENABLE_BROKER 
GO
ALTER DATABASE [Aduanas] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [Aduanas] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [Aduanas] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [Aduanas] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [Aduanas] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [Aduanas] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [Aduanas] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [Aduanas] SET RECOVERY FULL 
GO
ALTER DATABASE [Aduanas] SET  MULTI_USER 
GO
ALTER DATABASE [Aduanas] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [Aduanas] SET DB_CHAINING OFF 
GO
ALTER DATABASE [Aduanas] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [Aduanas] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [Aduanas] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [Aduanas] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'Aduanas', N'ON'
GO
ALTER DATABASE [Aduanas] SET QUERY_STORE = OFF
GO

# [dbo].[agencias]

In [0]:
USE [Aduanas]
GO

In [0]:
/****** Object:  Table [dbo].[agencias]    Script Date: 17/11/2022 12:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[agencias](
	[idAgencia] [int] IDENTITY(1,1) NOT NULL,
	[nombreAgencia] [varchar](30) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[direccion] [text] NOT NULL,
	[idPais] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idAgencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[empleados]

In [0]:
/****** Object:  Table [dbo].[empleados]    Script Date: 17/11/2022 12:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[idPersona] [int] NOT NULL,
	[idAgencia] [int] NOT NULL,
	[idRol] [int] NOT NULL,
	[usuario] [varchar](20) NOT NULL,
	[clave] [varchar](20) NOT NULL,
	[fechaInicio] [date] NOT NULL,
	[fechaFin] [date] NULL,
	[idEmpleado] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[paises]

In [0]:
/****** Object:  Table [dbo].[paises]    Script Date: 17/11/2022 12:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paises](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
	[habilitado] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[personas]

In [0]:
/****** Object:  Table [dbo].[personas]    Script Date: 17/11/2022 12:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas](
	[idPersona] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](30) NOT NULL,
	[apellidos] [varchar](30) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[correo] [varchar](30) NOT NULL,
	[idPaisOrigen] [int] NULL,
	[idPaisNaturalizacion] [int] NULL,
	[idSexo] [int] NULL,
	[identidad] [varchar](13) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[roles]

In [0]:
/****** Object:  Table [dbo].[roles]    Script Date: 17/11/2022 12:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[sexos]

In [0]:
/****** Object:  Table [dbo].[sexos]    Script Date: 17/11/2022 12:55:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sexos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [DF__paises__habilita__398D8EEE]

In [0]:
ALTER TABLE [dbo].[paises] ADD  DEFAULT ((1)) FOR [habilitado]
GO

# [DF__personas__identi__403A8C7D]

In [0]:
ALTER TABLE [dbo].[personas] ADD  DEFAULT ('0000000000000') FOR [identidad]
GO

# [FK__agencias__idPais__3C69FB99]

In [0]:
ALTER TABLE [dbo].[agencias]  WITH CHECK ADD FOREIGN KEY([idPais])
REFERENCES [dbo].[paises] ([id])
GO

# [FK__empleados__idAge__2A4B4B5E]

In [0]:
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD FOREIGN KEY([idAgencia])
REFERENCES [dbo].[agencias] ([idAgencia])
GO

# [FK__empleados__idPer__29572725]

In [0]:
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD FOREIGN KEY([idPersona])
REFERENCES [dbo].[personas] ([idPersona])
GO

# [FK__empleados__idRol__2B3F6F97]

In [0]:
ALTER TABLE [dbo].[empleados]  WITH CHECK ADD FOREIGN KEY([idRol])
REFERENCES [dbo].[roles] ([idRol])
GO

# [FK__personas__idPais__3D5E1FD2]

In [0]:
ALTER TABLE [dbo].[personas]  WITH CHECK ADD FOREIGN KEY([idPaisOrigen])
REFERENCES [dbo].[paises] ([id])
GO

# [FK__personas__idPais__3E52440B]

In [0]:
ALTER TABLE [dbo].[personas]  WITH CHECK ADD FOREIGN KEY([idPaisNaturalizacion])
REFERENCES [dbo].[paises] ([id])
GO

# [FK__personas__idSexo__3F466844]

In [0]:
ALTER TABLE [dbo].[personas]  WITH CHECK ADD FOREIGN KEY([idSexo])
REFERENCES [dbo].[sexos] ([id])
GO

# [Aduanas]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [Aduanas] SET  READ_WRITE 
GO